@use "utils/styles/mixins";
@use "utils/styles/variables";

.main-detail-container {
  @include mixins.flex-container(row, flex-start, center);
  min-height: fit-content;
  background-color: #ffffff;
  margin-bottom: 40px;
  border-radius: 40px;
  padding: 20px;

  .main-detail-icon-container {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    padding: 0;

    .main-detail-icon-background {
      @include mixins.flex-container(row, center, center);
      background-color: variables.$accent-bg-color;
      width: 45px;
      height: 45px;
      border-radius: 50%;

      svg {
        font-size: 1.2rem;
        color: #ffffff;
      }
    }
  }

  .main-detail-info-container {
    @include mixins.flex-container(column, space-between, flex-start);
    padding: 0;

    .main-detail {
      @include mixins.font-styles(0.7rem, 600);
      &:first-child {
        color: variables.$font-color-pale;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
    }
  }
}
