.mainDetailContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  min-height: fit-content;
  padding: 5% 7%;
  margin-bottom: 4vh;
  background-color: #fff;
  border-radius: 40px;

  @media (min-width: 1200px) {
    max-width: 100%;
  }
}

.mainDetailIconContainer {
  width: 45px;
  height: 45px;
  padding: 0;
  margin-right: 20px;
  @media (min-width: 1200px) {
    max-width: 100%;
  }
}

.mainDetailIconBackground {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #f2726c;
  border-radius: 50%;
  padding: 0;
  svg {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    max-width: 100%;
  }
}

.mainDetailInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  @media (min-width: 1200px) {
    max-width: 100%;
  }
}

.mainDetail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  color: #1e1a20;
  &:first-child {
    color: #807c7c;
    margin-bottom: 10px;
  }
}
