.secondaryDetailItem {
  border: 1px solid #ffbd9e;
  margin-right: 8px;
  margin-bottom: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 2rem;
  color: #1e1a20;
}
