@use "utils/styles/mixins";

.spinnerContainer {
  width: 100%;
  height: 100vh;
  @include mixins.flexContainer(row, center, center);
  padding: 0;
  @media (min-width: 1200px) {
    max-width: 100%;
  }
}
