@use "utils/styles/mixins";
@use "utils/styles/variables";

.main-details-section {
  @include mixins.flex-container(column, flex-start, flex-start);
  background-color: variables.$secondary-bg-color;
  width: 35%;
  height: 100vh;
  padding: 1% 2%;
  @media (max-width: 900px) {
    height: fit-content;
    width: 100%;
    padding: 1% 15px;
  }
  @media (min-width: 1200px) {
    max-width: 35%;
  }
}
