$main-bg-color: #fff;
$main-bg-color-hover: #f0f5f8de;
$secondary-bg-color: #eceff3;
$accent-bg-color: #34a08c;
$button-bg-color: #ffd97d;
$button-bg-hover: #ffd97d;

$headings-font-color: #061523;
$normal-font-color: #061523;
$pale-normal-font-color: #35393d75;

$border-color: #e8eaec8a;
