$main-font-family: "Poppins";

$main-bg-color: #ffffff;
$secondary-bg-color: #f7f3f4;
$accent-bg-color: #f2726c;
$accent-bg-color-hover: #f05e56;
$pointer-bg-color-hover: #807c7c24;

$accent-border-color: #ffbd9e;

$default-font-size: 0.7rem;

$default-font-weight: 400;

$default-font-color: #1e1a20;
$font-color-pale: #807c7c;
$input-text-font-color: #222433;

$default-transition: all 0.3s ease-in-out;
