@use "utils/styles/mixins";
@use "utils/styles/variables";

.sorting-button {
  $properties-on-hover: (
    background-color: variables.$pointer-bg-color-hover,
    color: variables.$accent-bg-color-hover,
  );
  @include mixins.on-hover($properties-on-hover);
  color: variables.$accent-bg-color;
  margin-right: 8px;
  &:disabled {
    background-color: variables.$button-bg-color-disabled;
  }
  @media (max-width: 600px) {
    background-color: variables.$main-bg-color;
    width: 48%;
    border-radius: 40px;
    margin-right: 0;
  }

  &-active {
    @extend .sorting-button;
    $properties-on-hover: (
      background-color: variables.$accent-bg-color,
      color: variables.$main-bg-color,
    );
    @include mixins.on-hover($properties-on-hover);
    background-color: variables.$accent-bg-color;
    color: variables.$main-bg-color;
    @media (max-width: 600px) {
      background-color: variables.$accent-bg-color;
    }
  }
}
