.pokemonCard {
  background-color: #fff;
  border: 1px solid #ffbd9e;
  width: 100%;
  padding: 2%;
  margin-bottom: 20px;
  border-radius: 40px;
  box-shadow: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  color: #f2726c;
  cursor: pointer;
  text-transform: capitalize;
}
