.detailsPageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: #fff;
  @media (max-width: 860px) {
    flex-direction: column;
    height: inherit;
    padding: 0;
  }
  @media (min-width: 1200px) {
    max-width: 100%;
  }
}
