@use "utils/styles/mixins";
@use "utils/styles/variables";

.details-page-container {
  @include mixins.flex-container(row, flex-start, flex-start);
  background-color: variables.$main-bg-color;
  width: 100%;
  height: 100vh;
  padding: 0;
  @media (max-width: 900px) {
    flex-direction: column;
    height: inherit;
    padding: 0;
  }
}
