.mainPageHeaderSection {
  position: fixed;
  padding: 12px 23px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f3f4;
  z-index: 100;

  @media (min-width: 1200px) {
    max-width: 100%;
  }
}
