@use "utils/styles/mixins";
@use "utils/styles/variables";

.main-details-header {
  @include mixins.flex-container(row, flex-start, center);
  margin-bottom: 50px;
  min-height: 95px;
  padding: 0;
  @media (max-width: 900px) {
    margin-bottom: 20px;
  }

  .main-details-page-pointer {
    $properties-on-hover: (
      background-color: variables.$pointer-bg-color-hover,
      color: variables.$accent-bg-color-hover,
    );
    @include mixins.flex-container(row, center, center);
    @include mixins.on-hover($properties-on-hover);
    color: variables.$accent-bg-color;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .pokemon-photo {
    border-radius: 50%;
  }

  .pokemon-name {
    $pokemon-name-font: 1.4rem, 800, variables.$accent-bg-color, null, null,
      56px;
    @include mixins.font-styles($pokemon-name-font...);
  }
}
