.mainDetailsHeader {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  @media (min-width: 600px) {
    padding: 0;
  }
}

.mainDetailsPagePointer {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #f2726c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    transition: all 0.3s ease-in-out;
    background-color: #807c7c24;
    color: #f05e56;
  }
}

.pokemonPhoto {
  border-radius: 50%;
  margin-right: 20px;
}

.pokemonName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 56px;
  color: #f2726c;
}
